spring:
  application:
    name: javacore
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/javacore}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  security:
    jwt-secret: ${SESSION_SECRET:SIA+nobBTEoUxmwcToApHueOgat+EAAjm2/yjR5e0f8=}
    jwt-expiration-ms: 86400000 # 24 hours
    refresh-token-expiration-ms: 604800000 # 7 days

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
    com.forge.javacore: DEBUG
    org.hibernate.SQL: WARN
